.env
/client/node_modules
/server/node_modules
/server/src/logs
/server/src/output
*.env
/server/src/build

/client/.DS_Store
/client/node_modules
/client/.svelte-kit
/client/package
/client/src/build
/client/build
/client/build
/client/.env
/client/.env.*
/client/!.env.example
/client/vite.config.js.timestamp-*
/client/vite.config.ts.timestamp-*
